In [3]:
!python3 -m pip install nltk --upgrade

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from nltk) (4.66.1)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip

In [9]:
import pandas as pd
import nltk
import ssl
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
ssl._create_default_https_context = ssl._create_unverified_context

nltk.download('punkt')

nltk.download([
     "names",
     "stopwords",
     "state_union",
     "twitter_samples",
     "movie_reviews",
     "averaged_perceptron_tagger",
     "vader_lexicon",
     "punkt",
 ])

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package names to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package state_union to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package state_union is already up-to-date!
[nltk_data] Downloading package twitter_samples to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package twitter_samples is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/rohitnagotkar/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
df = pd.read_csv("hotel_reviews 2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              7001 non-null   int64
 1   Name               7001 non-null   object
 2   Area               7001 non-null   object
 3   Review_Date        7001 non-null   object
 4   Rating_attribute   7001 non-null   object
 5   Rating(Out of 10)  7001 non-null   float64
 6   Review_Text        6994 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 383.0+ KB

In [25]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6994 entries, 0 to 7000
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              6994 non-null   int64
 1   Name               6994 non-null   object
 2   Area               6994 non-null   object
 3   Review_Date        6994 non-null   object
 4   Rating_attribute   6994 non-null   object
 5   Rating(Out of 10)  6994 non-null   float64
 6   Review_Text        6994 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 437.1+ KB

In [26]:
from nltk.tokenize import word_tokenize
df['tokens'] = df['Review_Text'].apply(word_tokenize)

In [30]:

sia = SentimentIntensityAnalyzer()
def get_sentiment_scores(text):
    return sia.polarity_scores(text)
df['sentiment'] = df['Review_Text'].apply(get_sentiment_scores)

In [31]:
df['sentiment']

0       {'neg': 0.0, 'neu': 0.607, 'pos': 0.393, 'comp...
1       {'neg': 0.0, 'neu': 0.476, 'pos': 0.524, 'comp...
2       {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3       {'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'comp...
4       {'neg': 0.0, 'neu': 0.491, 'pos': 0.509, 'comp...
                              ...
6996    {'neg': 0.0, 'neu': 0.555, 'pos': 0.445, 'comp...
6997    {'neg': 0.0, 'neu': 0.256, 'pos': 0.744, 'comp...
6998    {'neg': 0.0, 'neu': 0.451, 'pos': 0.549, 'comp...
6999    {'neg': 0.0, 'neu': 0.323, 'pos': 0.677, 'comp...
7000    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: sentiment, Length: 6994, dtype: object

In [34]:

df['compound_score'] = df['sentiment'].apply(lambda x: x['compound'])
df['positive_score'] = df['sentiment'].apply(lambda x: x['pos'])
df['negative_score'] = df['sentiment'].apply(lambda x: x['neg'])
df['neutral_score'] = df['sentiment'].apply(lambda x: x['neu'])

def classify_sentiment(compound_score):
    if compound_score >= 0.05:
        return 'Positive'
    elif compound_score <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'

df['sentiment_category'] = df['compound_score'].apply(classify_sentiment)

In [41]:
df.head()

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text,tokens,sentiment,compound_score,sentiment_category,positive_score,negative_score,neutral_score
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...,"[Hotel, the, pearl, is, perfect, place, to, st...","{'neg': 0.0, 'neu': 0.607, 'pos': 0.393, 'comp...",0.9606,Positive,0.393,0.0,0.607
1,1,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Amazing place,9.0,Location of the hotel is perfect. The hotel is...,"[Location, of, the, hotel, is, perfect, ., The...","{'neg': 0.0, 'neu': 0.476, 'pos': 0.524, 'comp...",0.9565,Positive,0.524,0.0,0.476
2,2,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Overall good stay. Economic.,9.0,"Location, Indian food.","[Location, ,, Indian, food, .]","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral,0.000,0.0,1.000
3,3,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Lovely,9.0,The location and the hotel itself is great. Ne...,"[The, location, and, the, hotel, itself, is, g...","{'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'comp...",0.9423,Positive,0.371,0.0,0.629
4,4,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Great hotel Great staff and great staying,9.0,Friendly and smiling staffs.. The reception st...,"[Friendly, and, smiling, staffs, .., The, rece...","{'neg': 0.0, 'neu': 0.491, 'pos': 0.509, 'comp...",0.9713,Positive,0.509,0.0,0.491

In [42]:

def rescale_sentiment(score):
    return (score * 2) - 1

df['rescaled_sentiment_score'] = df['compound_score'].apply(rescale_sentiment)
df['rescaled_positive_score'] = df['positive_score'].apply(rescale_sentiment)
df['rescaled_negative_score'] = df['negative_score'].apply(rescale_sentiment)
df['rescaled_neutral_score'] = df['neutral_score'].apply(rescale_sentiment)

In [43]:
df.head()

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text,tokens,sentiment,compound_score,sentiment_category,positive_score,negative_score,neutral_score,rescaled_sentiment_score,rescaled_positive_score,rescaled_negative_score,rescaled_neutral_score
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...,"[Hotel, the, pearl, is, perfect, place, to, st...","{'neg': 0.0, 'neu': 0.607, 'pos': 0.393, 'comp...",0.9606,Positive,0.393,0.0,0.607,0.9212,-0.214,-1.0,0.214
1,1,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Amazing place,9.0,Location of the hotel is perfect. The hotel is...,"[Location, of, the, hotel, is, perfect, ., The...","{'neg': 0.0, 'neu': 0.476, 'pos': 0.524, 'comp...",0.9565,Positive,0.524,0.0,0.476,0.9130,0.048,-1.0,-0.048
2,2,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Overall good stay. Economic.,9.0,"Location, Indian food.","[Location, ,, Indian, food, .]","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral,0.000,0.0,1.000,-1.0000,-1.000,-1.0,1.000
3,3,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Lovely,9.0,The location and the hotel itself is great. Ne...,"[The, location, and, the, hotel, itself, is, g...","{'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'comp...",0.9423,Positive,0.371,0.0,0.629,0.8846,-0.258,-1.0,0.258
4,4,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Great hotel Great staff and great staying,9.0,Friendly and smiling staffs.. The reception st...,"[Friendly, and, smiling, staffs, .., The, rece...","{'neg': 0.0, 'neu': 0.491, 'pos': 0.509, 'comp...",0.9713,Positive,0.509,0.0,0.491,0.9426,0.018,-1.0,-0.018

In [44]:
df.to_csv("sentiment_calculated_hotel_data_v2.csv")

In [45]:
df.describe()

,Index,Rating(Out of 10),compound_score,positive_score,negative_score,neutral_score,rescaled_sentiment_score,rescaled_positive_score,rescaled_negative_score,rescaled_neutral_score
count,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000,6994.000000
mean,3499.709322,7.033729,0.374242,0.285130,0.060868,0.653722,-0.251517,-0.429739,-0.878265,0.307444
std,2021.465055,2.881802,0.488996,0.261475,0.133693,0.234204,0.977992,0.522950,0.267385,0.468408
min,0.000000,1.000000,-0.980200,0.000000,0.000000,0.000000,-2.960400,-1.000000,-1.000000,-1.000000
25%,1749.250000,6.000000,0.000000,0.000000,0.000000,0.508000,-1.000000,-1.000000,-1.000000,0.016000
50%,3498.500000,8.000000,0.440400,0.290000,0.000000,0.671500,-0.119200,-0.420000,-1.000000,0.343000
75%,5251.750000,9.000000,0.825325,0.473000,0.000000,0.800000,0.650650,-0.054000,-1.000000,0.600000
max,7000.000000,10.000000,0.997700,1.000000,1.000000,1.000000,0.995400,1.000000,1.000000,1.000000

In [46]:
df['pos_tags'] = df['tokens'].apply(nltk.pos_tag)

In [56]:
topic_keywords = {
    'sanitation': ['clean', 'hygiene', 'sanitation', 'tidy', 'sterile', 'disinfect', 'tidiness', 'sanitize', 'maintained','bathroom'],
    'food': ['food', 'cuisine', 'restaurant', 'dining', 'menu', 'taste', 'delicious', 'culinary','breakfast','tasty', ],
    'hospitality': ['hospitality', 'friendly', 'welcoming', 'attentive', 'service','cosy', 'courteous', 'helpful', 'accommodating', 'comfortable'],
    'value_for_money': ['value for money', 'affordable', 'reasonable', 'cost-effective', 'budget-friendly', 'worth', 'economical', 'inexpensive', 'experience'],
    'facilities': ['facilities', 'amenities', 'services', 'features', 'comforts', 'conveniences', 'offerings', 'provisions','beds','bathroom','attraction','room']
}

In [57]:
def calculate_relevance_scores(review):
    scores = {}
    for topic, keywords in topic_keywords.items():
        count = sum(review.lower().count(keyword) for keyword in keywords)
        scores[topic] = count
    return scores

In [58]:
df['Relevance_Scores'] = df['Review_Text'].apply(calculate_relevance_scores)

{'sanitation': 1, 'food': 0, 'hospitality': 1, 'value_for_money': 0, 'facilities': 0}
df['sanitation_score'] = df['Relevance_Scores'].apply(lambda x: x['sanitation'])
df['food_score'] = df['Relevance_Scores'].apply(lambda x: x['food'])
df['hospitality_score'] = df['Relevance_Scores'].apply(lambda x: x['hospitality'])
df['value_for_money_score'] = df['Relevance_Scores'].apply(lambda x: x['value_for_money'])
df['facilities_score'] = df['Relevance_Scores'].apply(lambda x: x['facilities'])

# print(list(df['Relevance_Scores']))

In [59]:
df.head()

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text,tokens,sentiment,compound_score,...,rescaled_positive_score,rescaled_negative_score,rescaled_neutral_score,pos_tags,Relevance_Scores,sanitation_score,food_score,hospitality_score,value_for_money_score,facilities_score
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...,"[Hotel, the, pearl, is, perfect, place, to, st...","{'neg': 0.0, 'neu': 0.607, 'pos': 0.393, 'comp...",0.9606,...,-0.214,-1.0,0.214,"[(Hotel, NN), (the, DT), (pearl, NN), (is, VBZ...","{'sanitation': 1, 'food': 0, 'hospitality': 2,...",1,0,2,0,1
1,1,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Amazing place,9.0,Location of the hotel is perfect. The hotel is...,"[Location, of, the, hotel, is, perfect, ., The...","{'neg': 0.0, 'neu': 0.476, 'pos': 0.524, 'comp...",0.9565,...,0.048,-1.0,-0.048,"[(Location, NN), (of, IN), (the, DT), (hotel, ...","{'sanitation': 0, 'food': 0, 'hospitality': 0,...",0,0,0,0,1
2,2,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Overall good stay. Economic.,9.0,"Location, Indian food.","[Location, ,, Indian, food, .]","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,...,-1.000,-1.0,1.000,"[(Location, NN), (,, ,), (Indian, JJ), (food, ...","{'sanitation': 0, 'food': 1, 'hospitality': 0,...",0,1,0,0,0
3,3,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Lovely,9.0,The location and the hotel itself is great. Ne...,"[The, location, and, the, hotel, itself, is, g...","{'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'comp...",0.9423,...,-0.258,-1.0,0.258,"[(The, DT), (location, NN), (and, CC), (the, D...","{'sanitation': 0, 'food': 0, 'hospitality': 2,...",0,0,2,0,2
4,4,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Great hotel Great staff and great staying,9.0,Friendly and smiling staffs.. The reception st...,"[Friendly, and, smiling, staffs, .., The, rece...","{'neg': 0.0, 'neu': 0.491, 'pos': 0.509, 'comp...",0.9713,...,0.018,-1.0,-0.018,"[(Friendly, RB), (and, CC), (smiling, VBG), (s...","{'sanitation': 0, 'food': 0, 'hospitality': 2,...",0,0,2,0,2

In [60]:
df.to_csv("keyword_analysed_hotel_review.csv")